<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en-US">
<head>
<title>omnipad</title>

<link rel="stylesheet" type="text/css" href="css/styles.css" />
<link rel="stylesheet" type="text/css" href="css/peculiar.css" />
<link href="prettify/prettify.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="css/jquery.ui.all.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript" src="js/showdown.js"></script>
<script type="text/javascript" src="js/anthony.js"></script>
<script src="ace/build/src/ace.js" type="text/javascript" charset="utf-8"></script>

<script src="js/jquery-1.7.1.js"></script>
<script src="js/jquery.ui.core.js"></script>
<script src="js/jquery.ui.widget.js"></script>
<script src="js/jquery.ui.mouse.js"></script>
<script src="js/jquery.ui.draggable.js"></script>

<script type="text/javascript" src="prettify/prettify.js"></script>

</head>
<div id="arrow"></div>
<div id="intro"><span id="logo">omnipad</span></div>
<div id="content">
	<div id="edit">
	<div id="editor">
		<textarea id="textarea" rows="30" cols="50"></textarea>
	</div>
		
	</div>
	
	<div id="view">
	<button>Whats the text?</button>
	
	</br>
	
	<div class="demo">

		<div id="foo">
		<div class="icon icon-typing">
		 <div class="icon-comment-triangle"></div>
		 <div class="icon-typing-rectangle"></div>
		 <div class="icon-typing-circle-1"></div>
		 <div class="icon-typing-circle-2"></div>
		 <div class="icon-typing-circle-3"></div>
		</div>
		</div>
		
		<div id="draggable" class="ui-widget-content">
			<div id="closeeq" style="margin-left: -20px;margin-top: -20px;">
			<div class="icon icon-minus">
			 <div class="icon-minus-circle"></div>
			 <div class="icon-minus-line"></div>
			</div>
			<div>
		</div>

	</div>
	
	</div>
	<div 
</div>

</html>